* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px white;
}

h1 {
    font-size: 500%;
    margin: 2%;
}
h3 {
    font-size: 160%;
}
a:link {
    color: black;
}
a:visited{
    color: black;
}
img {
    width: 40%;
    height: auto;
}
ol {
    font-size: 200%;
    list-style-position: inside;
}
 button {
    font-size: 180%;
    color: white;   
    padding: 1.2%;
    background-color: black;
    border-radius: 2.5%;
    cursor: pointer;
 }